name: Build

on:
  push:
    branches:
      - main
    paths:
      - "**.nix"
      - flake.lock
      - .github/workflows/*.yml
  pull_request:
    branches:
      - main
    paths:
      - "**.nix"
      - flake.lock
      - .github/workflows/*.yml
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        # FIXME Remove the option below once
        # https://github.com/DeterminateSystems/update-flake-lock/issues/223
        # is fixed
        with:
          persist-credentials: false

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          # source-url: https://install.lix.systems/lix/lix-installer-x86_64-linux
          diagnostic-endpoint: ""

      - run: nix build
