name: Flake

on:
  schedule:
    - cron: '0 11 * * *'
  workflow_dispatch:

jobs:
  update:
    name: Flake Update
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        # FIXME Remove the option below once
        # https://github.com/DeterminateSystems/update-flake-lock/issues/223
        # is fixed
        with:
          persist-credentials: false

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          # source-url: https://install.lix.systems/lix/lix-installer-x86_64-linux
          diagnostic-endpoint: ""

      - id: update-flake-lock
        uses: DeterminateSystems/update-flake-lock@v27
        with:
          commit-msg: 'flake: update inputs'
          pr-title: 'flake: update inputs'
          pr-labels: 'dependencies'

      - uses: benc-uk/workflow-dispatch@v1
        if: ${{ contains(fromJSON('["created", "updated"]'), steps.update-flake-lock.outputs.pull-request-operation) }}
        with:
          workflow: build.yml
          ref: refs/heads/update_flake_lock_action
